<header>
    <mat-toolbar class="bg-danger">
        <a routerLink="" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Home
        </a>
        <a routerLink="/purchases" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example dashboard icon">dashboard</mat-icon>
            Purchases
        </a>
        <a routerLink="/categories" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example bookmark icon">bookmark</mat-icon>
            Categories
        </a>
    </mat-toolbar>
</header>