<form (submit)="submit()" [formGroup]="form" class="">
    <div>
        <mat-form-field appearance="fill" class="bg-danger text-white">
            <mat-label>Username:</mat-label>
            <input type="text" formControlName="username" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" class="bg-danger text-white">
            <mat-label>Password :</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" class="bg-danger text-white">
            <mat-label>Password Confirm :</mat-label>
            <input type="password" formControlName="passwordConfirm" matInput>
        </mat-form-field>
    </div>
    <!-- [disabled]="!form.valid" -->
    <div class="d-flex mt-2 mb-2">
        <button mat-raised-button type="submit" color="accent">Reset</button>
        <a routerLink="account/login" mat-raised-button>Back</a>
    </div>
</form>
